@model TAClassifieds.Model.User
@*@{
        ViewBag.Title = "Register";
    }

    <h2>@ViewBag.Title.</h2>*@

        @if (ViewBag.error == "You are already Logged In.!")
        {
           <h1 style="color:red">@ViewBag.error</h1>
            if (Session["accountActivation"]=="Account Activated. Please login")
            {
                <h1 style="color:green">Account Activated. Please login</h1>
            }
        }
        @if (ViewBag.error ==null)
        {
            <div class="row">
                <div class="logincontainer">
                    <h2>@ViewBag.ConfirmationMsg</h2>
                    <h2>Log In:</h2>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal form-signin form-margin", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.Label("Email*", new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email id" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Password*", new { @class = "control-label col-sm-4" })
                <div class="col-sm-6">
                    @Html.PasswordFor(m => m.UPassword, new { @class = "form-control", placeholder = "Enter Password" })
                    @Html.ValidationMessageFor(model => model.UPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <div class="checkbox">
                        @Html.CheckBox("Rememberme")
                        @Html.Label("Remember me")
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-12">
                    <input type="submit" class="btn btn-md btn-primary" value="Log In" />
                </div>
                @*<div style="text-align:center;color:red">
                    @ViewBag.ErrorMsg<br />
                </div>*@
                <p class="col-sm-offset-4 col-sm-12" style="color:red;padding: 2% 0 0 0%;">@ViewBag.ErrorMsg</p>
                
            </div>

            <form class="form-horizontal form-signin socialForm-margin" role="form" name="socialLogin">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-5">
                        @Html.ActionLink("Login With GooglePlus", "gplusLogin", "Account")
                    </div>
                    <div class="col-sm-offset-1 col-sm-5">
                        @Html.ActionLink("Login With facebook", "fbLogin", "Account")
                    </div>
                </div>
            </form>
            }
            </div>
        </div>
        }
        
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
