@model TAClassifieds.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}



<div class="row">
    <div class="logincontainer">
        Log In :
        <form class="form-horizontal form-signin form-margin" role="form" name="emailLogin">
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email id">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-12">
                    <a href="postad.html">
                        <button id="login-btn" onclick="login()" class="btn btn-default btn-success">Log in</button>
                    </a>
                    <a href="register.html">
                        <button id="register-btn" class="btn btn-default btn-warning">Register Here!</button>
                    </a>
                </div>
            </div>
        </form>
        <form class="form-horizontal form-signin socialForm-margin" role="form" name="socialLogin">
            <div class="form-group">
                <!--<div class="col-sm-offset-2">
                    <label>Continue with Google | Facebook account</label>
                </div>-->
                <div class="col-sm-offset-1 col-sm-10">

                    @Html.ActionLink("Login", "Login", new { controller = "Account" }, new { @class = "google", @style = "background: url('" + Url.Content("~/Images/gmail.png") + "')  height:140px; width:140px;" })
                    @Html.ActionLink("Login", "Login", new { controller = "Account" }, new { @class = "facebook", @style = "background: url('" + Url.Content("~/Images/fb.png") + "')  height:140px; width:140px;" })

                </div>
            </div>
        </form>
    </div>
</div>


@*<div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@